.layout-example {
  .layout-footer {
    color: #fff;
    background: #7dbcea;
  }
  .layout-header {
    background: #6aa0c7;
  }
  .layout-footer {
    background: #6aa0c7;
  }
  .layout-footer {
    line-height: 1.5;
  }
  .layout-sider {
    color: #fff;
    line-height: 120px;
    background: #3ba0e9;
  }
  .layout-sider {
    background: #3499ec;
  }
  .layout-content {
    min-height: 120px;
    color: #fff;
    line-height: 120px;
    background: rgba(16, 142, 233, 1);
  }
  .ant-layout-content {
    background: #107bcb;
  }
}

.component-overview {
  &-group-title {
    margin-bottom: 24px !important;
  }
}
