@use "../../../style/variable.scss" as *;

.menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  padding-right: 0; // Override default ul/ol in RTL direction
  list-style: none;

  box-shadow: 0 0 4px #d9d9d9;
  border-radius: 3px;
  color: #666;

  &-item {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 0 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: border-color 0.3s, background 0.3s,
      padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &-item a {
    color: $menu-item-color;
    &:hover {
      color: $menu-highlight-color;
    }
  }

  &-item-group-list {
    margin: 0;
    padding: 0;
  }

  &-item-group-title {
    color: #999;
    line-height: 1.5;
    padding: 8px 10px;
    border-bottom: 1px solid #dedede;
  }
}
