@use "../../../style/variable.scss" as *;
@use "../../../style/reset.scss" as *;

.card {
  @include reset-component();
  position: relative;
  background: $card-background;
  border-radius: $card-radius;
  &-bordered {
    border: $border-width-base $border-style-base $border-color-split;
  }
  &-head {
    min-height: $card-head-height;
    margin-bottom: -1px; // Fix card grid overflow bug: https://gw.alipayobjects.com/zos/rmsportal/XonYxBikwpgbqIQBeuhk.png
    padding: 0 $card-padding-base;
    color: $card-head-color;
    font-weight: 500;
    font-size: $card-head-font-size;
    background: $card-head-background;
    border-bottom: $border-width-base $border-style-base $border-color-split;
    border-radius: $card-radius $card-radius 0 0;
  }
}
