@use "../../../style/variable.scss" as *;

$divider-color: rgba(0, 0, 0, 6%);

.divider {
  border-top: $border-width-base solid $divider-color;
  &-horizontal {
    width: 100%;
    margin: 24px 0;
  }
  &-horizontal#{&}-with-text {
    display: flex;
    margin: 16px 0;
    color: $heading-color;
    font-weight: 500;
    font-size: $font-size-lg;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: $divider-color;

    &::before,
    &::after {
      position: relative;
      top: 50%;
      width: 50%;
      border-top: $border-width-base solid transparent;
      // Chrome not accept `inherit` in `border-top`
      border-top-color: inherit;
      border-bottom: 0;
      transform: translateY(50%);
      content: "";
    }
  }
}
