// >>>Error
$black: #000;

// >>>Main Colors
$primary-color: #1890ff;

// >>>Border Colors
$border-color-base: #d9d9d9;

// >>> Button
$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;

$btn-default-color: rgba($black, 85%);
$btn-default-bg: #fff;
$btn-default-border: $border-color-base;

$btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
$btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
