// >>>Error
$black: #000;

// >>>Main Colors
$primary-color: #1890ff;

// >>>Border Colors
$border-color-base: dashed;

// >>> Button
$btn-default-color: rgba($black, 85%);
$btn-default-pg: #fff;
$btn-default-border: $border-color-base;
