//Base Design System

// >>>Error
$black: #000;

// >>> Color used by default
$primary-1: #e6f7ff;

// >>>Main Colors
$primary-color: #1890ff;

// >>>Border Colors
$border-color-base: #d9d9d9;
$border-width-base: 1px;

// >>>Background colors
$heading-color: rgba($black, 85%);
$text-color: rgba($black, 85%);

// >>>Height Rules
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;

// >>>Vertical paddings
$padding-lg: 24px; //containers
$padding-md: 16px; //small containers
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical margins
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

// >>>Font-size , border
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$line-height-base: 1.5715;
$border-radius-base: 2px;

// >>> Button
$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;
$btn-border-radius-base: $border-radius-base;
$btn-border-radius-sm: $border-radius-base;

$btn-default-color: rgba($black, 85%);
$btn-default-bg: #fff;
$btn-default-border: $border-color-base;

$btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
$btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

$btn-height-base: $height-base;
$btn-height-lg: $height-lg;
$btn-height-sm: $height-sm;

$btn-font-size-lg: $font-size-lg;
$btn-font-size-sm: $font-size-base;
$btn-padding-horizontal-base: $padding-md - 1px;
$btn-padding-horizontal-sm: $padding-xs - 1px;
$btn-padding-horizontal-lg: $btn-padding-horizontal-base;

$btn-circle-size: $btn-height-base;
$btn-circle-size-lg: $btn-height-lg;
$btn-circle-size-sm: $btn-height-sm;

// >>>Devider
// Divider
$divider-text-padding: 1em;
$divider-orientation-margin: 5%;
$divider-color: rgba(0, 0, 0, 6%);

// >>>Grid systems
$grid-columns: 24;

// >>>Menu
$menu-item-color: $text-color;
$menu-highlight-color: $primary-color;
$menu-item-active-bg: $primary-1;

// >>>Layout
$layout-body-background: #f0f2f5;
$layout-header-background: #001529;
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-header-color: $text-color;
$layout-footer-padding: 24px 50px;
$layout-footer-background: $layout-body-background;
$layout-sider-background: $layout-header-background;
