@use '../../style/variable.scss' as *;
@use '../../style/mixins.scss' as *;

#important {
  color: $text-color;
  overflow-wrap: break-word;
  h1 {
    @include typography-title-1();
  }
  h2 {
    @include typography-title-2();
  }
  h3 {
    @include typography-title-3();
  }
  h4 {
    @include typography-title-4();
  }
}

// ============ Ellipsis ============

.typography {
  &-single-line {
    white-space: nowrap;
  }
  &-ellipsis-single-line {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
