@use "../../../style/variable.scss" as *;
@use "./mixin.scss" as *;

.input {
  @include input();
  &-group {
    @include input-group();
    &-wrapper {
      display: inline-block;
      width: 100%;
      text-align: start;
      vertical-align: top;
    }
  }
}
