@use '../../style/variable.scss' as *;

@mixin input() {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: $input-padding-vertical-base $input-padding-horizontal-base;
  color: $input-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $input-bg;
  background-image: none;
  border: $border-width-base $border-style-base $input-border-color;
  border-radius: $border-radius-base;
  transition: all 0.3s;
}

@mixin input-group() {
  position: relative;
  display: table;
  width: 100%;
  &-addon,
  > .input {
    display: table-cell;
  }
  &-addon,
  &-wrap {
    width: 1px; // To make addon/wrap as small as possible
    white-space: nowrap;
    vertical-align: middle;
  }
  &-addon {
    position: relative;
    padding: 0 $input-padding-horizontal-base;
    color: $input-color;
    font-weight: normal;
    font-size: $font-size-base;
    text-align: center;
    background-color: $input-addon-bg;
    border: $border-width-base $border-style-base $input-border-color;
    border-radius: $border-radius-base;
    transition: all 0.3s;
  }
}
